.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
*.tar
*.pth.tar
*.pt
core.*
log.*
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
objectnet-1.0
experiment-*
*.tmp
*.pkl
*.onnx
*.jpg
*.jpeg
*.png
*.zip
objectnet-1.0/
*.joblib
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
**/example_statistics.*
**/example_*.csv
# Ignore all JSON files ending in .jpeg.json
*.jpeg.json
*.JPEG.json

# Ignore all CSV files ending in JPEG_steps.csv
*JPEG_steps.csv

# Do not ignore png-s starting with difficulty_
!difficulty_*.png