.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
*.tar
*.pth.tar
*.pt
core.*
log.*
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
*.onnx
*.jpg
*.jpeg
*.png
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
